hr{
    width: 75%;
}

body{
    background-color: #0e131f;
}


.mainBlog{
    background-color: #0e131f;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'aside imagenes';
    background-color: #0e131f;
    margin: 1em;

}


/* Menu aside */
.uno{
    margin-left: 8em;
    height: auto;
    width: auto;
    grid-area: aside;
    
    .breadcrumb{
        text-decoration: none;
    }

   
    a{
         color: white;

         &:hover {

            text-decoration: underline;
        }
     }
}


/* Imagenes */

.dos{
  
    height: auto;
    width: auto;
    grid-area: imagenes;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
   
   

    
    .imgContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center ;
        font-size: 1rem;

        .imgCol{
            width: 40%;
            
        }
           

            img{
                width: 50%;
            }
    }


    


   /*  div{
         
   margin-left: 10em;
         
    img{
        width:50%;
        
    }

    } */
    
   
}


