* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-image: url('../imagenes/backgroundimage.jpg'); 
    
}



.primary-header {
    background-color: #0e131f;

    nav {
        display: flex;
        justify-content: flex-start;


        img {
            padding: 20px 0 0 20px;

        }

        ul {
            color: white;

            li {
                list-style: none;
                display: inline-block;
                margin-top: 4rem;


                a {
                    display: inline-block;
                    padding: 0.5em;
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }





}

