main{
    color: white;
}


.secondary-header {    
    font-family: 'Pacifico', cursive;
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1em;

}

.guion{
    display: flex;
    justify-content: center;
}

.main-section {
    display:flex;
    justify-content: center;
    padding-top: 1em;
     .main-image{
         padding-right: 2em;
     }
     .btn{
         background-color: #dc3545;
         color: white;
     }
}

.third-header{
    font-family: 'Pacifico', cursive;
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    padding-right: 12em;   
    color: white;
    

    div{
        background-color:#dc3545 ;
        padding:5px 5px 0 5px;       
    }
   
   
}

.secondary-section {
    font-family: 'Pacifico', cursive;
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content: space-around;   
    padding:10px;
    font-size: 1.7rem;
    margin-top: 0.5em;
    color: white;

    ul{    
      
        background-color:#dc3545 ;
        padding: 5px;
        display: flex;
        flex-direction: column;

        

        li{
            font-family: 'Lato', sans-serif;;
            font-size: 1rem;
            list-style: none;
            
            img{
            padding-bottom: 23px;
                             
          
        }
            

            h3{
                font-size: 1.7rem;
            }

           
        }

    }
}