@media screen and (max-width: 480px) and (min-width: 280px){
    
    .dos{
        background-color: rgb(229, 255, 0);
        height: auto;
        width: auto;
        grid-area: imagenes;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "imagen1"
        "imagen2"
        "imagen3"
        "imagen4"
                 ;
        border: red 5px solid;
       
        div{
             
                  
            
    
        }
    
        
       
    }
    
    .imagen1{
        grid-area:imagen1;
    }
    .imagen1{
        grid-area:imagen2;
    }
    .imagen1{
        grid-area:imagen3;
    }
    .imagen1{
        grid-area:imagen4;
    }

}