@media screen and (max-width: 480px) and (min-width: 280px){  
    

    /* nav y logo */

    .primary-header {
        background-color: #0e131f;
    
        nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    
    
            img {
                padding: 20px 0 0 20px;
                width: auto;
                height: auto;
    
            }
    
            ul {
                color: white;
    
                li {
                    list-style: none;
                    display: inline-block;
                    margin-top: 4rem;
    
    
                    a {
                        display: inline-block;
                        padding: 0.5em;
                        text-decoration: none;
                        color: white;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    
    
    
    
    
    }

/* Seccion pinturas */





/* barra de busqueda */
.buscador {
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0;


    .src {
        width: 69%;
    }


}

/* Titulo+texto sobre pintura */

.vallejo-title {
    

   
    h3 {
        width: auto;
        height: auto;
    }

    p {
        width: auto;
        height: auto;
        
    }

}




.galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    width: 100%;
   
    img{
        width: 50%;
    }
 
    /* Precios */
    .precio{
        margin-top: -1em;
    }
 
    /* Texto debajo de las imagenes */
    p{
        color: white;
        width: 50%;       
        text-align: start;
    }
 
    /* Div de los botones para posicionarlos */
   
 
 }






    /* Secciones del centro del blog */

/* aside */


.mainBlog{
    background-color: #0e131f;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'aside imagenes';
    background-color: #0e131f;
    margin: 1em;

}


    .uno{
        margin-left: 8em;
        height: auto;
        width: auto;
        grid-area: aside;
        
        .breadcrumb{
            text-decoration: none;
        }
    
       
        a{
             color: white;
    
             &:hover {
    
                text-decoration: underline;
            }
         }
    }
    
/* imagenes */
    .dos{
  
        height: auto;
        width: auto;
        grid-area: imagenes;
       
        
       
    
        
        .imgContainer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-end;
            
           
            
            
          
    
            .imgCol{
                width: 90%;
               
                
            }
           
            div{
                margin-left: 1em;

                img{
                    width: 90%;
                    
                }
            }
        }
    
        
    }   
}




/* media query para tablet */

@media screen and (max-width: 1023px) and (min-width: 768px){




    .dos{
  
        height: auto;
        width: auto;
        grid-area: imagenes;
        
        
       
    
        
        .imgContainer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-end;
            font-size: 0.7rem;
            
          
    
            .imgCol{
                width: 90%;
               
                
            }
           
            div{
                margin-left: 1em;

                img{
                    width: 90%;
                    
                }
            }
        }
    
    }




}