@import "fuentes";
@import "body";
@import "index";
@import "main";
@import "footer";
@import "pinturas";



/* font-size: rem
width: % in combination with a max-width, ch
height: question urself "do i rly need to set height" if yes -> use a min-height
padding/margin: rem or em
media queries: em

px only for little things like shadows, borders etc.
 */
 