hr{
    width: 75%;
}

body{
    background-color: #0e131f;
}


.mainBlog{
    background-color: #0e131f;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'aside imagenes';
    background-color: #0e131f;
    margin: 1em;



    /* Menu aside */
    .uno{
        margin-left: 8em;
        height: auto;
        width: auto;
        grid-area: aside;
        
        .breadcrumb{
            text-decoration: none;
        }
    
       
        a{
             color: white;
    
             &:hover {
    
                text-decoration: underline;
            }
         }
    }


    /* Imagenes */
    .dos {
    
        grid-area: imagenes;
    
        .imgContainer {
           display: flex;
           flex-direction: row;
           flex-wrap: nowrap;
           
           width: 50%;
           height: 50%;
            
           
           img{
                width: 90%;
                height: 90%;
                object-fit: cover;
            }
    
    
            
            
        }
    
    }
    


}










