/* barra de busqueda */
.buscador {
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0;


    .src {
        width: 69%;
    }


}

/* Titulo+texto sobre pintura */

.vallejo-title {
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-left: 16.2em;

    font-size: 1rem;

    h3 {
        width: 60%;
    }

    p {
        width: 60%;
    }

}

/* Seccion de imagenes */

.galeria {

    width: 100%;

    img {
        width: 100%;
    }

    /* Precios */
    .precio {
        margin-top: -1em;
    }

    /* Texto debajo de las imagenes */
    p {
        margin-left: 1.5em;
        color: white;
        width: 80%;
        text-align: center;
    }

    /* Div de los botones para posicionarlos */
    .btnDiv {
        margin-top: -0.7em;
        padding-bottom: 1em;


        .btn {
            min-height: 1em;

        }
    }
}