@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&family=Teko:wght@300;400&display=swap");
body {
  background-color: lightblue;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../imagenes/backgroundimage.jpg");
}

.primary-header {
  background-color: #0e131f;
}

.primary-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.primary-header nav img {
  padding: 20px 0 0 20px;
}

.primary-header nav ul {
  color: white;
}

.primary-header nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 4rem;
}

.primary-header nav ul li a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: white;
}

.primary-header nav ul li a:hover {
  text-decoration: underline;
}

main {
  color: white;
}

.secondary-header {
  font-family: 'Pacifico', cursive;
  font-family: 'Teko', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.guion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.main-section div {
  padding: 1em;
}

.main-section .main-image {
  padding: 2em;
  background-color: hotpink;
  background-image: url("../imagenes/fondoImagenes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section .btn {
  background-color: #d83442;
  color: white;
}

.main-section .btn:hover {
  color: black;
}

.third-header {
  font-family: 'Pacifico', cursive;
  font-family: 'Teko', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  padding-right: 12em;
  color: white;
}

.third-header div {
  background-image: url("../imagenes/backgroundTextos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 5px 0 5px;
}

.secondary-section {
  font-family: 'Pacifico', cursive;
  font-family: 'Teko', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  font-size: 1.7rem;
  margin-top: 0.5em;
  color: white;
}

.secondary-section ul {
  background-image: url("../imagenes/backgroundTextos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondary-section ul li {
  font-family: 'Teko', sans-serif;
  font-size: 1.3rem;
  list-style: none;
  font-weight: 200;
  letter-spacing: 1px;
}

.secondary-section ul li img {
  padding-bottom: 23px;
}

.secondary-section ul li h3 {
  font-size: 1.7rem;
}

.main-footer {
  background-image: url("../imagenes/backgroundFooter.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  color: whitesmoke;
  padding: 1em 0 1em 2em;
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.section-contact {
  color: white;
}

.section-contact h3 {
  padding: 10px 10px 10px;
}

.section-contact div {
  padding: 10px 10px 10px;
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0em 1em 0;
}

.buscador .src {
  width: 69%;
}

.vallejo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  margin-left: 12.7em;
  font-size: .8rem;
}

.vallejo-title h3 {
  width: 60%;
}

.vallejo-title p {
  width: 60%;
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 0.5fr 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
  margin-left: 10em;
}

.galeria img {
  width: 50%;
  padding: 3px;
}

.galeria .compra {
  padding-left: 25px;
}

.galeria .compra .btn {
  padding-left: 10px;
  width: 40%;
  height: 40%;
}

/* font-size: rem
width: % in combination with a max-width, ch
height: question urself "do i rly need to set height" if yes -> use a min-height
padding/margin: rem or em
media queries: em

px only for little things like shadows, borders etc.
 */
/*# sourceMappingURL=style.css.map */